*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
header{
	background: linear-gradient(rgba(0,0,50,0.2),rgba(0,0,50,0.2)),url(22.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display :inline-block;
}

ul li a{
	text-decoration:none;
	color:#fff;
	padding:5px 20px;
	border: 1px solid #fff;
	transition: 0.5s ease;

}


ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color:#000;
}
h1{

    
	color: #fff !important;
	text-align: left;
	text-transform: uppercase;
	font-style: italic;
	font-size: 5 px;

}
h2{
	font-size: 50px;
	color: #0000ff !important;
	position: absolute;
	left:50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
    text-align: center;
    border: 1px solid #fff;
    padding:10px 100px;



}
